/* $grey: #787878;
$pine: #415A20;
// $dark-pine: mix($pine, #000, 50%);
// $light-pine: rgba($pine, .7);
$cedar: #7D9E41;
$gold: #FFD540;
$yellow: #FFEC40;

$sap: #C9D817;
$evergreen: #73B030;
$orange: #FAA56F;
// $orange: #F66C20;
$purple: #B894DE;
// $purple: #B27FE7;
$blue: #3366ff;

$sapling: #F8FAE2;
$mandarin: #FFF4EF;
$brushed-gold: #FFFDE7;
$baby-breath: #F4FAFF;
$lavendar: #f7f2fd;

$art: $gold;
$design: $sap;
$storytelling: $orange;
$dev: $purple; */

/*/////////////////////////////////////////////////////////////////////////////
 * Colour Custom Properties
 */

/* // Note: Space separated values only supported by CSS Colors Lvl 4 */
:root {
  --primary-color: theme('colors.buttercup.500');
  --header-color: rgba(0 0 0 / 1);
  --text-color: rgba(0 0 0 / .7);
  --meta-color: #{$grey};
  --link-color: rgba(0 0 0 / .7);

  --c-bg-color: #f2f2f2;
  --c-highlight-color: #f2f2f2;
}

/* // Category Theme Colours */
.art {
  --primary-color: theme('colors.buttercup.500');
  --link-color: theme('colors.buttercup.600');
  --c-bg-color: theme('colors.buttercup.50');
  --c-highlight-color: theme('colors.buttercup.100');
  svg { fill: var(--primary-color); }
}

.dev {
  --primary-color: theme('colors.allium.500');
  --link-color: theme('colors.allium.600');
  --c-bg-color: theme('colors.allium.50');
  --c-highlight-color: theme('colors.allium.100');
  svg { fill: var(--primary-color); }
}

.design {
  --primary-color: theme('colors.cedar.400');
  --link-color: theme('colors.cedar.700');
  --c-bg-color: theme('colors.cedar.50');
  --c-highlight-color: theme('colors.cedar.100');
  svg { fill:var(--primary-color); }
}

.storytelling {
  --primary-color: theme('colors.mandarin.500');
  --link-color: theme('colors.mandarin.600');
  --c-bg-color: theme('colors.mandarin.50');
  --c-highlight-color: theme('colors.mandarin.100');
  svg { fill:var(--primary-color); }
}

/* // Website Theme Colours */
#theme-art {
  --primary-color: theme('colors.cobalt.600');
  --header-color: theme('colors.cobalt.700');
  --text-color: theme('colors.cobalt.900');
  --meta-color: theme('colors.cobalt.800');
  --link-color: theme('colors.cobalt.600');
  svg { fill: var(--primary-color); }
}

#theme-design {
  --primary-color: theme('colors.cedar.600');
  --header-color: theme('colors.cedar.950');
  --text-color: theme('colors.cedar.800');
  --link-color: theme('colors.cedar.600');
  --meta-color: theme('colors.cedar.900');
  svg { fill: var(--primary-color); }
}