---
import Seo from '@components/Seo.astro'
import '@css/global.css'
import { ViewTransitions } from 'astro:transitions'
import clsx from 'clsx'

type Props = {
  class?: string
  bodyClass?: string
  id?: string
}

const { class: className, bodyClass, id } = Astro.props as Props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='Astro description'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <slot name='seo'>
      <Seo />
    </slot>
    <ViewTransitions />
  </head>
  <body class={clsx('text-th-text font-mono text-md font-normal', bodyClass)}>
    <main
      class={className}
      id={id}
    >
      <!-- Slot here like in blade -->
      <slot />
    </main>
    <!-- Color overlay -->
    <span
      class='fixed w-full h-full top-0 left-0 bg-[#FFFAEB] mix-blend-multiply pointer-events-none'
      aria-hidden
    ></span>
  </body>
</html>

<style is:global>
  @keyframes shapeShift {
    from {
      position: relative;
      z-index: -100;
      transition: all 0.2s ease-in-out;
    }
    to {
      position: relative;
      z-index: -100;
      transition: all 0.2s ease-in-out;
    }
  }
</style>