/*
  Background tile that is slightly rotated
*/
@mixin rotate-bg-box-styles(
  $transform: var(--bg-rotate-sm),
  $bg-color: var(--c-bg-color))
{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: #{$transform};
  background-color: #{$bg-color};
}