$bp-transition-medium: 33.5rem;
$bp-transition-xlarge: 61.25rem;
$bp-xsmall: 39rem;
$bp-small: 44rem;
$bp-medium: 50rem;
$bp-large: 70rem;
$bp-xlarge: 96rem;
$bp-xxlarge: 120rem;

$bps: (
  xs: 39rem,
  sm: 44rem,
  md: 50rem,
  lg: 70rem,
  xl: 96rem,
  2xl: 120rem
);

@mixin breakpoint($point, $logic: false) {
  $bp: map.get($bps, $point);

  @if($bp==null) {
    $bp: #{$point};
  }

  @media screen and (min-width: #{$bp}) {
    @content;
  }
}