<footer class='mt-3xl mb-xl py-lg font-light border-t border-solid border-th-highlight'>
  <p>Last updated: Sept 2024</p>
  <p>
    Sketchblog:
    [<a href={`https://www.instagram.com/chungsi_/`} target='_blank' rel='noreferrer'>instagram</a>]
    [<a href={`https://www.twitter.com/chungsi_/`} target='_blank' rel='noreferrer'>twitter</a>]
  </p>
  <p>
    Made with <a href='https://astro.build/' target='_blank' rel='noreferrer'>Astro</a>:
    [<a href='https://github.com/chungsi/gusting' target='_blank' rel='noreferrer'>Github repo</a>]
  </p>
</footer>