@import '../scss/utils/_utils.scss';

@mixin grid-using-rows-cols {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: minmax(16rem, auto);
  row-gap: 5rem;
  column-gap: 1rem;

  :nth-child(1) {
    grid-column: 1 / span 4;
  }

  :nth-child(2) {
    grid-column: 5 / 9;
    grid-row: 2 / 4;
  }

  :nth-child(3) {
    grid-column: 1 / 4;
    grid-row: 3 / 5;
  }
}

@mixin grid-using-areas {
  gap: 2rem;
  max-width: var(--space-6xl);

  @screen xs-th {
    max-width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: minmax(4rem, auto);
    grid-template-areas:
      "bk1 bk1 bk1 .   .   .  "
      ".   .   .   bk2 bk2 bk2"
      "bk3 bk3 bk3 bk2 bk2 bk2"
      "bk3 bk3 bk3 bk4 bk4 bk4"
      ".   .   .   bk4 bk4 bk4";

    .project-card {
      &:nth-of-type(1) {grid-area: bk1;}
      &:nth-of-type(2) {grid-area: bk2;}
      &:nth-of-type(3) {grid-area: bk3;}
      &:nth-of-type(4) {grid-area: bk4;}
    }
  }

  @screen lg-th {
    gap: 1rem;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: minmax(4rem, auto);
    grid-template-areas:
      "bk1 bk1 bk1 bk1 .   .   .  "
      ".   .   .   .   bk2 bk2 bk2"
      "bk3 bk3 bk3 .   bk2 bk2 bk2"
      "bk3 bk3 bk3 .   .   .   .  "
      "bk3 bk3 bk3 bk4 bk4 bk4 .  "
      ".   .   .   bk4 bk4 bk4 .  ";
  }

}

.featured-grid {
  display: grid;
  @include grid-using-areas;
  margin-bottom: var(--space-3xl);
}