.card {
  padding: var(--space-xl) var(--space-lg) var(--space-md);
  // padding: var(--space-lg) var(--space-sm);
  // border: 1px solid silver;
}

  .link-container {
    text-decoration: none;
  }

// For text info inside the card
.title {
  font-size: var(--h3);
  margin: 0;
}

.subtitle {
  font-style: italic;
  font-weight: var(--lght-wght);
  color: grey;
}

.tags {
  font-size: var(--h6);
  color: grey;
  list-style: none;
  padding-left: 0;

  > li:not(:last-of-type) {
    &::after { content: ' /'; }
  }
}

// Different styles of the card
.floating-card,
.zine-card {
  padding: var(--space-xl) var(--space-lg) var(--space-md);
  border: none;
  box-shadow: var(--shadow-md);
}

// Background tile that is slightly rotated
@mixin bg-tile-styles {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--card-bg-color);
  transform: var(--card-bg-rotate);
}

.tilting-card {
  position:relative;

  --card-bg-color: var(--c-bg-colour);

  --card-bg-rotate: rotate(-3deg);
  &:nth-child(2n) { --card-bg-rotate: rotate(2deg); }
  &:nth-child(3n) { --card-bg-rotate: rotate(-5deg); }

  &::after { @include bg-tile-styles; }
}