@import '../scss/utils/_transformations.scss';

// .card {
  // position: relative;
  // padding: var(--space-lg) var(--space-sm);
  // border: 1px solid silver;
// }

  // Default
  // .link-container {
  //   display: block;
  //   padding: var(--space-xl) var(--space-lg) var(--space-md);
  //   text-decoration: none;
  // }

// For text info inside the card
// .title {
//   font-size: var(--h4);
//   margin: 0;
// }

// .subtitle {
//   font-style: italic;
//   font-weight: var(--lght-wght);
//   margin: var(--space-xxs) 0 var(--space-md);
// }

// .tags {
//   font-size: var(--h-sm);
//   list-style: none;
//   padding-left: 0;

//   > li:not(:last-of-type) {
//     &::after { content: ' /'; }
//   }
// }

// Different styles of the card
.floating-card,
.zine-card {
  border: none;
  box-shadow: var(--shadow-md);

  .link-container {
    padding: var(--space-xl) var(--space-lg) var(--space-md);
  }
}

// .tilting-card {
//   // position:relative;

//   --card-bg-color: var(--c-bg-color);

//   --card-bg-rotate: rotate(-3deg);
//   &:nth-child(2n) { --card-bg-rotate: rotate(2deg); }
//   &:nth-child(3n) { --card-bg-rotate: rotate(-5deg); }

//   &::after {
//     @include rotate-bg-box-styles(
//       $transform: var(--card-bg-rotate),
//       $bg-color: var(--card-bg-color));
//     }
// }

// .hero-image {
//   position: absolute;
//   display: block;
//   max-width: 7.25rem;
//   right: 0;
//   z-index: 0;
//   transition: var(--transition);

//   &.top {
//     right: -2rem;
//     top: -2rem;
//   }

//   &.bottom {
//     right: 0;
//     bottom: -1.5rem;
//   }

//   &.right {
//     right: -2.5rem;
//     bottom: 0;
//   }

  // TODO: This looks messy! Should clean it up
  // And make the translate be different depending on the position
  // .card:hover &,
  // .card:active &,
  // .card:focus & {
  //   transform: translate(.25rem, -.25rem);
  //   transition: var(--transition);
  // }
// }