.card {
  padding: var(--space-lg) var(--space-sm);
  border: 1px solid silver;
}

  .floating-card {
    padding: var(--space-xl) var(--space-lg) var(--space-md);
    border: none;
    box-shadow: 0 4px 16px 2px rgba(0 0 0 / .14);
  }

.link-container {
  text-decoration: none;
}

.title {
  margin: 0;
}

.subtitle {
  font-style: italic;
}

.tags {
  font-size: var(--h6);
  list-style: none;
  padding-left: 0;

  > li:not(:last-of-type) {
    &::after { content: '/'; }
  }
}