<footer class='mb-xl mt-3xl border-t border-solid border-th-highlight py-lg text-sm'>
  <p>Last updated: Dec 2024</p>
  <p>
    Sketchblog: [<a
      href={`https://www.instagram.com/chungsi_/`}
      target='_blank'
      rel='noreferrer'
      >instagram</a
    >] [<a
      href={`https://www.twitter.com/chungsi_/`}
      target='_blank'
      rel='noreferrer'
      >twitter</a
    >]
  </p>
  <p>
    Made with <a
      href='https://astro.build/'
      target='_blank'
      rel='noreferrer'
      >Astro</a
    >: [<a
      href='https://github.com/chungsi/gusting'
      target='_blank'
      rel='noreferrer'
      >Github repo</a
    >]
  </p>
</footer>
