.container {
  margin: auto;
  max-width: 500px;
}

.header {
  position: relative;
  margin: var(--space-3xl) 0 var(--space-xl);
}

  .logo {
    position: absolute;
    display: block;
    width: var(--space-xxl);
    margin-left: calc(var(--space-3xl) * -1);

    svg {
      fill: grey;
    }
  }

  .title-block {
    
  }

.site-title, .site-title > * {
  font-size: 3rem;
  color: silver;
  margin: 0;
}

.site-subtitle {
  margin: 0;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: 3rem;
}

.nav-link-item {
  padding-right: 2rem;
}

  .nav-link-text {
    color: grey;

      &--active {
        font-weight: var(--bold-wght);
        color: black;
      }
  }