// @import '../scss/_typography.scss';

/*
  Background tile that is slightly rotated
*/
@mixin bg-tile-styles {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: var(--component-bg-rotate);
  background-color: var(--component-bg-colour);
}


.title {
  position: relative;
  display: inline-block;
  font-size: var(--h0);
  margin-bottom: 0;

  &::after {
    @include bg-tile-styles;
    --component-bg-rotate: rotate(-3deg) translate(-10px, -12px);
    --component-bg-colour: hsl(0, 0%, 95%);
  }
}

.subtitle {
  font-style: italic;
  font-size: var(--h4);
}

.category {
  // @include mono;
  font-family: var(--font-mono);
  font-weight: var(--lght-wght);
  font-size: var(--h6);
  font-style: italic;
  display: inline-block;
  padding: 0 1em;
}