
@mixin pagination-arrow-styles {
  display: inline-block;
  margin: 0 var(--space-sm-rel);
}

.container {
  margin-bottom: var(--space-4xl);
}

.next {
  display: block;

  &::before {
    @include pagination-arrow-styles;
    content: '\00ab';
  }
}

.prev {
  display: block;
  text-align: right;

  &::after {
    @include pagination-arrow-styles;
    content: '\00bb';
  }
}