// @import '../scss/_typography.scss';

.category {
  // @include mono;
  font-family: var(--font-mono);
  font-weight: var(--text-wght);
  font-size: .35em;
  font-style: italic;
  display: inline-block;
  padding: 0 1.5em;
}

.title {
  font-size: var(--h0);
}

.subtitle {
  font-style: italic;
}