@import '../scss/utils/_transformations.scss';
@import '../scss/utils/_typography.scss';

.title {
  position: relative;
  display: inline-block;
  font-size: var(--h0);
  margin-top: 0;
  margin-bottom: 0;
  --bg-rotate-sm: rotate(-3deg) translate(-10px, -12px);

  &::after {
    @include rotate-bg-box-styles($bg-color: var(--c-bg-highlight-color));
  }
}

.subtitle {
  font-style: italic;
  font-size: var(--h4);
}

.category {
  @include mono;
  font-weight: var(--lght-wght);
  font-size: var(--h6);
  font-style: italic;
  display: inline-block;
  padding: 0 1em;
}