@use 'sass:color';

$grey: #787878;
$pine: #415A20;
$dark-pine: mix($pine, #000, 50%);
$light-pine: rgba($pine, .7);
$cedar: #7D9E41;
$gold: #FFD540;
$yellow: #FFEC40;

$sap: #C9D817;
$evergreen: #73B030;
$orange: #FAA56F;
// $orange: #F66C20;
$purple: #B894DE;
// $purple: #B27FE7;
$blue: #3366ff;

$sapling: #F8FAE2;
$mandarin: #FFF4EF;
$brushed-gold: #FFFDE7;
$baby-breath: #F4FAFF;
$lavendar: hsl(267, 73%, 97%);

$art: $gold;
$design: $sap;
$storytelling: $orange;
$dev: $purple;

/*/////////////////////////////////////////////////////////////////////////////
 * Colour Custom Properties
 */

// Note: Space separated values only supported by CSS Colors Lvl 4
:root {
  --primary-color: #{$gold};
  --header-color: rgba(0 0 0 / 1);
  --text-color: rgba(0 0 0 / .7);
  --meta-color: #{$grey};
  --link-color: #{$cedar};

  --c-bg-color: hsl(0, 0%, 95%);
  --c-highlight-color: hsl(0, 0%, 95%);
}

// Category Theme Colours
.art {
  --primary-color: #{$art};
  --c-bg-color: #{rgba($art, .075)};
  --c-highlight-color: #{rgba($art, .1)};
  svg { fill: #{$art}; }
}

.dev {
  --primary-color: #{$dev};
  --c-bg-color: #{rgba($dev, .1)};
  --c-highlight-color: #{rgba($dev, .2)};
  svg { fill: #{$dev}; }
}

.design {
  --primary-color: #{$design};
  --c-bg-color: #{rgba($design, .1)};
  --c-highlight-color: #{rgba($design, .2)};
  svg { fill: #{$design}; }
}

.storytelling {
  --primary-color: #{$storytelling};
  --c-bg-color: #{rgba($storytelling, .1)};
  --c-highlight-color: #{rgba($storytelling, .2)};
  svg { fill: #{$storytelling}; }
}

// Website Theme Colours
#theme-art {
  --primary-color: #{$blue};
  --header-color: #{darken($blue, 20%)};
  --text-color: #{mix($grey, $blue)};
  --link-color: #{$blue};
  --meta-color: #{mix($grey, $blue)};
  svg { fill: var(--primary-color); }
}

#theme-design {
  --primary-color: #{$cedar};
  --header-color: #{$dark-pine};
  --text-color: #{rgba($pine, .7)};
  --link-color: #{$cedar};
  --meta-color: #{rgba($pine, .85)};
  svg { fill: var(--primary-color); }
}