@use "sass:math";

/*/////////////////////////////////////////////////////////////////////////////
 * Spacing Custom Properties
 *
 *    Unitless
 *    Base:     usually based on rems; base amount can be adjusted
 *    Relative: usually based on ems; base amount can be adjusted
 */

// NOTE: Should these variables be declared here???
$type-scale: 1.25;
$type-base-size: 1rem;

// scale, size, room, arrange, place, set, order, shift, translate, tofu, empty, width
:root {
  --s-3xs: #{math.pow($type-scale, -6)};
  --s-xxs: #{math.pow($type-scale, -4)};
  --s-xs: #{math.pow($type-scale, -2)};
  --s-sm: #{math.pow($type-scale, -1)};
  --s-md: #{$type-scale};
  --s-lg: #{math.pow($type-scale, 2)};
  --s-xl: #{math.pow($type-scale, 4)};
  --s-2xl: #{math.pow($type-scale, 6)};
  --s-3xl: #{math.pow($type-scale, 8)};
  --s-4xl: #{math.pow($type-scale, 10)};
  --s-5xl: #{math.pow($type-scale, 12)};

  // Playing around with defaults: larger/smaller on mobile?
  --base-space-unit: 1rem;
  --base-space-unit-rel: 1em;

  --space-3xs: calc(var(--s-3xs) * var(--base-space-unit));
  --space-2xs: calc(var(--s-xxs) * var(--base-space-unit));
  --space-xs: calc(var(--s-xs) * var(--base-space-unit));
  --space-sm: calc(var(--s-sm) * var(--base-space-unit));
  --space-md: calc(var(--s-md) * var(--base-space-unit));
  --space-lg: calc(var(--s-lg) * var(--base-space-unit));
  --space-xl: calc(var(--s-xl) * var(--base-space-unit));
  --space-2xl: calc(var(--s-2xl) * var(--base-space-unit));
  --space-3xl: calc(var(--s-3xl) * var(--base-space-unit));
  --space-4xl: calc(var(--s-4xl) * var(--base-space-unit));
  --space-5xl: calc(var(--s-5xl) * var(--base-space-unit));

  --space-3xs-rel: calc(var(--s-3xs) * var(--base-space-unit-rel));
  --space-xxs-rel: calc(var(--s-xxs) * var(--base-space-unit-rel));
  --space-xs-rel: calc(var(--s-xs) * var(--base-space-unit-rel));
  --space-sm-rel: calc(var(--s-sm) * var(--base-space-unit-rel));
  --space-md-rel: calc(var(--s-md) * var(--base-space-unit-rel));
  --space-lg-rel: calc(var(--s-lg) * var(--base-space-unit-rel));
  --space-xl-rel: calc(var(--s-xl) * var(--base-space-unit-rel));
  --space-2xl-rel: calc(var(--s-2xl) * var(--base-space-unit-rel));
  --space-3xl-rel: calc(var(--s-3xl) * var(--base-space-unit-rel));
  --space-4xl-rel: calc(var(--s-4xl) * var(--base-space-unit-rel));
  --space-5xl-rel: calc(var(--s-5xl) * var(--base-space-unit-rel));


  // Reused custom prop for layout functionality on containers and images
  --space-container-offset: var(--space-lg);
  @screen md { --space-container-offset: var(--space-2xl); }
  @screen lg { --space-container-offset: var(--space-3xl); }
  @screen xl { --space-container-offset: var(--space-4xl); }
}