/*/////////////////////////////////////////////////////////////////////////////
 * Default Values
 */

@layer base {
  /* // TODO: Split some of these stylings to be prose specific (only for content) */
  .h0 {
    --header-size: var(--text-5xl);
  }
  h1 {
    --header-size: var(--text-4xl);
  }
  h2 {
    --header-size: var(--text-3xl);
  }
  h3 {
    --header-size: var(--text-2xl);
  }
  h4 {
    --header-size: var(--text-lg);
  }
  h5 {
    --header-size: var(--text-md);
  }
  h6 {
    --header-size: var(--text-sm);
  }

  .h0,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: var(--header-size);
    line-height: 1;
    color: var(--color-th-header);
  }

  .h0,
  h1,
  h2,
  h3 {
    font-family: var(--font-th-serif);
    font-weight: normal;
    letter-spacing: 0.025em;
  }

  h4,
  h5,
  h6 {
    font-family: var(--font-th-mono);
    font-weight: var(--font-weight-bold);
  }

  p {
    color: var(--color-th-text);
    line-height: var(--p-line-height);
  }

  ul,
  ol {
    color: var(--color-th-text);
    line-height: var(--p-line-height);
  }

  strong {
    font-weight: var(--font-weight-extrabold);
  }

  a {
    transition: var(--transition);
    /* color: theme('colors.th.link'); */

    /* &:hover,
    &:focus,
    &:active {
    } */
  }

  hr {
    margin: var(--spacing-2xl) 0;
    color: var(--color-th-primary);
  }

  img {
    width: 100%;
  }

  .prose {
    .h0,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      /* margin: var(--spacing-xl-rel) 0 var(--spacing-md) 0; */
      padding-top: var(--spacing-md-rel);
      margin-top: var(--spacing-md-rel);
      margin-bottom: var(--spacing-md);
    }

    p {
      margin-top: var(--spacing-md);
      margin-bottom: var(--spacing-md);
      max-width: var(--max-text-width);
      font-weight: var(--font-weight-normal);
    }

    a {
      color: var(--link-color);
      text-decoration: underline wavy var(--link-color) 0.025em;
    }

    ul,
    ol {
      padding-left: var(--spacing-lg);
      max-width: var(--max-text-width);
    }

    li {
      @apply mb-2;
    }

    ul {
      list-style: disc;
    }
    ol {
      list-style: decimal;
    }

    blockquote {
      color: var(--text-color);
      margin: var(--spacing-md) var(--spacing-lg);
    }

    code {
      display: inline-block;
      background-color: var(--c-bg-color);
      padding: 0 var(--spacing-xs);
      border-radius: var(--spacing-xxs-rel);
    }

    pre {
      background-color: var(--c-bg-color);
      border: 2px solid var(--c-highlight-color);
      border-radius: 0.5rem;
      padding: var(--spacing-md);
      max-width: var(--max-text-width);

      /* reset if nested */
      code {
        background-color: transparent;
      }
    }

    .autolink {
      bottom: 0;
      padding-bottom: var(--spacing-xxs-rel);
      /* Reset default autolink-plugin positioning */
      top: auto !important;
    }

    h2:first-of-type {
      margin-top: 0;
    }
  }
}
