/*/////////////////////////////////////////////////////////////////////////////
 * Spacing Custom Properties
 *
 *    Unitless
 *    Base:     usually based on rems; base amount can be adjusted
 *    Relative: usually based on ems; base amount can be adjusted
 */

@value v-type-scale: 1.25;

/* // scale, size, room, arrange, place, set, order, shift, translate, tofu, empty, width */
:root {
  /* TODO: Adjust this for different screen sizes to improve readability */
  --type-scale: 1.25;

  --s-3xs: calc(pow(var(--type-scale), -6));
  --s-xxs: calc(pow(var(--type-scale), -4));
  --s-xs: calc(pow(var(--type-scale), -2));
  --s-sm: calc(pow(var(--type-scale), -1));
  --s-md: var(--type-scale);
  --s-lg: calc(pow(var(--type-scale), 2));
  --s-xl: calc(pow(var(--type-scale), 4));
  --s-2xl: calc(pow(var(--type-scale), 6));
  --s-3xl: calc(pow(var(--type-scale), 8));
  --s-4xl: calc(pow(var(--type-scale), 10));
  --s-5xl: calc(pow(var(--type-scale), 12));
  --s-6xl: calc(pow(var(--type-scale), 14));

  /* // Playing around with defaults: larger/smaller on mobile? */
  --base-space-unit: 1rem;
  --base-space-unit-rel: 1em;

  --space-3xs: calc(var(--s-3xs) * var(--base-space-unit));
  --space-2xs: calc(var(--s-xxs) * var(--base-space-unit));
  --space-xs: calc(var(--s-xs) * var(--base-space-unit));
  --space-sm: calc(var(--s-sm) * var(--base-space-unit));
  --space-md: calc(var(--s-md) * var(--base-space-unit));
  --space-lg: calc(var(--s-lg) * var(--base-space-unit));
  --space-xl: calc(var(--s-xl) * var(--base-space-unit));
  --space-2xl: calc(var(--s-2xl) * var(--base-space-unit));
  --space-3xl: calc(var(--s-3xl) * var(--base-space-unit));
  --space-4xl: calc(var(--s-4xl) * var(--base-space-unit));
  --space-5xl: calc(var(--s-5xl) * var(--base-space-unit));
  --space-6xl: calc(var(--s-6xl) * var(--base-space-unit));

  --space-3xs-rel: calc(var(--s-3xs) * var(--base-space-unit-rel));
  --space-xxs-rel: calc(var(--s-xxs) * var(--base-space-unit-rel));
  --space-xs-rel: calc(var(--s-xs) * var(--base-space-unit-rel));
  --space-sm-rel: calc(var(--s-sm) * var(--base-space-unit-rel));
  --space-md-rel: calc(var(--s-md) * var(--base-space-unit-rel));
  --space-lg-rel: calc(var(--s-lg) * var(--base-space-unit-rel));
  --space-xl-rel: calc(var(--s-xl) * var(--base-space-unit-rel));
  --space-2xl-rel: calc(var(--s-2xl) * var(--base-space-unit-rel));
  --space-3xl-rel: calc(var(--s-3xl) * var(--base-space-unit-rel));
  --space-4xl-rel: calc(var(--s-4xl) * var(--base-space-unit-rel));
  --space-5xl-rel: calc(var(--s-5xl) * var(--base-space-unit-rel));
  --space-6xl-rel: calc(var(--s-6xl) * var(--base-space-unit-rel));


  /* // Reused custom prop for layout functionality on containers and images */
  --space-container-offset: var(--space-lg);
  @screen md { --space-container-offset: var(--space-2xl); }
  @screen lg { --space-container-offset: var(--space-3xl); }
  @screen xl { --space-container-offset: var(--space-4xl); }
}