/*/////////////////////////////////////////////////////////////////////////////
 * Font Face Declarations
 *
 *    Fanwood Text:   only comes in regular weight
 *    JetBrains Mono: uses variable fonts for both normal and italic styles
 */

@font-face {
  font-family: 'Fanwood Text';
  src: url('../fonts/FanwoodText-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrainsMono[wght].woff2') format('woff2 supports variations'),
       url('../fonts/JetBrainsMono[wght].woff2') format('woff2-variations');
  font-weight: 100 800;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrainsMono-Italic[wght].woff2') format('woff2 supports variations'),
       url('../fonts/JetBrainsMono-Italic[wght].woff2') format('woff2-variations');
  font-weight: 100 800;
  font-stretch: 75% 125%;
  font-style: italic;
}


/*/////////////////////////////////////////////////////////////////////////////
 * Custom Properties
 */
$type-scale: 1.25;
// $type-base-size: 1rem;
// $space-scale: 0.875rem;

// Typography
:root {
  // --font-serif: 'Fanwood Text', Georgia, 'Times New Roman', Times, serif;
  // --font-mono: 'JetBrains Mono', monospace;
  --text-wght: 425;
  --bold-wght: 768;
  --lght-wght: 380;

  --p-line-height: var(--s-lg);

  // --type-base-size: #{$type-base-size};
  --type-base-size: 1rem;
  --h0: calc(var(--h1) * #{$type-scale});
  --h1: calc(var(--h2) * #{$type-scale} * #{$type-scale});
  --h2: calc(var(--h3) * #{$type-scale});
  --h3: calc(var(--h4) * #{$type-scale});
  --h4: calc(var(--h5) * #{$type-scale});
  --h5: var(--type-base-size);
  --h6: calc(var(--h5) / #{$type-scale});
  --h7: calc(var(--h6) / #{$type-scale});

  --max-text-width: 41rem;
}


/*/////////////////////////////////////////////////////////////////////////////
 * Default Values
 */

body {
  @include mono;
  // font-family: var(--font-mono);
  font-weight: var(--text-wght);
  color: var(--text-color);
  font-size: var(--type-base-size);
}

.h0 { --header-size: var(--h0) }
h1 { --header-size: var(--h1) }
h2 { --header-size: var(--h2) }
h3 { --header-size: var(--h3) }
h4 { --header-size: var(--h4) }
h5 { --header-size: var(--h5) }
h6 { --header-size: var(--h6) }

.h0,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--header-size);
  line-height: 1;
  color: var(--header-color);
  margin: var(--space-md-rel) 0 var(--space-3xs-rel) 0;
}

.h0,
h1,
h2,
h3 {
  @include serif;
  // font-family: var(--font-serif);
  // font-weight: normal;
  // letter-spacing: .025em;
}

h4,
h5,
h6 {
  // @include mono;
  font-family: var(--font-mono);
  font-weight: var(--bold-wght);
}

p {
  color: var(--text-color);
  line-height: var(--p-line-height);
  margin: 1em 0 1em 0;
  max-width: var(--max-text-width);
}

ul,
ol {
  color: var(--text-color);
  line-height: var(--p-line-height);
  padding-left: var(--space-lg);
  max-width: var(--max-text-width);
}

blockquote {
  color: var(--text-color);
  margin: var(--space-md) var(--space-lg);
}

strong {
  font-weight: var(--bold-wght);
}

a {
  // text-decoration: none;
  // * Should properly do vertical rhythm with borders...
  // border-bottom: 1px solid var(--text-color);
  transition: var(--transition);
  color: var(--link-color);

  &:hover,
  &:focus,
  &:active {
    font-weight: var(--bold-wght);
    outline: none;
    transition: all 200ms ease-in-out;
    // background-color: lighten($cedar, 50%);
  }
}

hr {
  margin: var(--space-xxl) 0;
}

code {
  display: inline-block;
  background-color: var(--c-bg-highlight-color);
  padding: 0 var(--space-xs);
  border-radius: var(--space-xxs-rel);
}

pre {
  background-color: var(--c-bg-highlight-color);
  padding: var(--space-md);

  code { background-color: transparent; } // reset if nested
}

img {
  width: 100%;
}