{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "semi": false,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "singleAttributePerLine": true,
  "plugins": [
    "prettier-plugin-astro",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindAttributes": [
    "class:list",
    "class"
  ],
  "tailwindFunctions": [
    "clsx"
  ],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro",
        "semi": false,
        "singleQuote": true,
        "jsxSingleQuote": true,
        "trailingComma": "all"
      }
    },
    {
      "files": "*.mdx",
      "options": {
        "parser": "mdx",
        "semi": false,
        "singleQuote": true,
        "trailingComma": "all"
      }
    }
  ]
}